Repository Layr-Labs/eigenda, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Layr-Labs/eigenda-intg, @pschork, @pakim249CAL, @anupsv

fix(sigmap-EDA-01): Incorrect HTTP header key in JSON response (#2125)
  api/proxy/servers/rest/handlers_misc.go
Owners: @Layr-Labs/eigenda-intg

fix(proxy): update OP enablement enums (#2163)
  api/proxy/config/enablement/enabled_apis.go
  api/proxy/docs/help_out.txt
Owners: @Layr-Labs/eigenda-intg

docs: update readme to remove holesky, and update env verifier address (#2132)
  api/proxy/.env.example
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

docs: Fix broken links in the proxy readme (#2105)
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

feat(proxy): read-only mode when no privateKey provided (v2 only) (#2106)
  api/proxy/.env.example
  api/proxy/README.md
  api/proxy/common/secret_config.go
  api/proxy/common/secret_config_test.go
  api/proxy/config/v2/eigendaflags/cli.go
  api/proxy/docs/help_out.txt
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/store/generated_key/v2/eigenda.go
  api/proxy/test/e2e/configuration_test.go
  api/proxy/test/testutils/setup.go
Owners: @Layr-Labs/eigenda-intg

feat(proxy): Incorporate ARB server into E2E framework (#2013)
  api/proxy/servers/arbitrum_altda/cli.go
  api/proxy/servers/arbitrum_altda/handlers.go
  api/proxy/servers/arbitrum_altda/server.go
  api/proxy/test/benchmark/benchmark_test.go
  api/proxy/test/e2e/op_contract_rest_test.go
  api/proxy/test/e2e/safety_checks_rest_test.go
  api/proxy/test/e2e/server_arb_test.go
  api/proxy/test/e2e/server_rest_test.go
  api/proxy/test/fuzz/server_fuzz_test.go
  api/proxy/test/testutils/setup.go
  api/proxy/test/testutils/test_suite.go
Owners: @Layr-Labs/eigenda-intg

fix fft table
  encoding/kzg/prover/v2/prover.go
Owners: none

Load ecdsa key when ejection defence is enabled
  node/config.go
  node/flags/flags.go
Owners: @pschork

lint
  node/config.go
Owners: @pschork

unit tests
  node/config_test.go
Owners: @pschork

Change default port to match devops repo
  disperser/cmd/controller/flags/flags.go
Owners: none

fix: update `MaxCertSizeBytes` check for `routingVarNamePayloadHex`
  api/proxy/servers/rest/handlers_cert.go
Owners: @Layr-Labs/eigenda-intg

Combine payment related docs
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

Discourage usage of new config values
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

Explain where reservations are tracked
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

fix(apiserver): validation for committer config was wrong
  disperser/cmd/apiserver/lib/config.go
  encoding/kzg/committer/committer.go
Owners: none

chore: convert traffic generator to new config framework (#2148)
  Dockerfile
  common/config/bootstrap.go
  common/config/config_document_generator.go
  common/config/config_parser.go
  common/config/config_test.go
  common/config/util.go
  common/config/util_test.go
  docs/config/TrafficGenerator.md
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/client/test_client_metrics.go
  test/v2/client/test_client_setup.go
  test/v2/config/environment/broken/preprod.json
  test/v2/config/environment/broken/testnet-holesky.json
  test/v2/config/environment/testnet-sepolia.json
  test/v2/config/load/100kb_s-1mb-3x.json
  test/v2/config/load/1mb_s-1mb-0x.json
  test/v2/config/load/3mb_s-1mb-0x.json
  test/v2/config/testnet-sepolia.toml
  test/v2/live/live_network_test.go
  test/v2/live/proxy_test.go
  test/v2/load/load_generator.go
  test/v2/load/load_generator_config.go
  test/v2/load/main/load_main.go
Owners: none

feat: ejection manager (#2143)
  common/config/doc_generator/main.go
  docs/config/Ejector.md
  ejector/ejection_manager.go
  ejector/ejection_manager_test.go
  ejector/ejection_transactor.go
  ejector/ejector_config.go
  ejector/mock_ejection_transactor.go
  test/random/random.go
Owners: none

placeholder chunk readers
  node/node_v2.go
  relay/chunkstore/alternate_chunk_reader.go
  relay/chunkstore/alternate_chunk_writer.go
Owners: @pschork

G1Path -> G1SRSPath
  encoding/kzg/committer/committer.go
Owners: none

fix(apiserver): validation for committer config was wrong (#2178)
  disperser/cmd/apiserver/lib/config.go
  encoding/kzg/committer/committer.go
Owners: none

feat(payments): Document proxy payment flag (#2166)
  api/proxy/README.md
Owners: @Layr-Labs/eigenda-intg

Enhance eigenda-releaser workflow with source_branch
  .github/workflows/eigenda-releaser.yaml
Owners: none

Fix lint and regen protoc
  api/grpc/controller/controller_service_grpc.pb.go
  api/proto/controller/controller_service.proto
  disperser/controller/payments/payment_authorization_handler.go
Owners: none

Update eigenda-releaser.yaml
  .github/workflows/eigenda-releaser.yaml
Owners: none

chore(payments): Change default controller port to match devops repo (#2176)
  disperser/cmd/controller/flags/flags.go
Owners: none

feat: add semver
  contracts/src/core/EigenDADirectory.sol
Owners: @pakim249CAL

Use correct logger method
  disperser/apiserver/disperse_blob_v2.go
Owners: none

incremental progress
  relay/chunkstore/alternate_chunk_writer.go
Owners: none

.github/CODEOWNERS:

# Clients
# See https://github.com/orgs/Layr-Labs/teams/eigenda-intg
/api/clients @Layr-Labs/eigenda-intg
/api/proxy @Layr-Labs/eigenda-intg

# Validator node
/node @pschork

# Contracts
/contracts @pakim249CAL

# Security docs
/docs/audits @anupsv
